@import './reset.css';
@import './settings.css';
/* Global style */
body {
  background-color: var(--app-bg);
  color: var(--app-color);
  font-size: var(--config--font-size);
  line-height: var(--config--line-height);
}
/* Custom */
.img-full {
  display: block;
  width: 100%;
  height: 100%;
}
.img-contain {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.DropdownMenu {
  position: relative;
}
.NavBar_CustomMenu .DropdownMenu__btn--close {
  color: var(--second-color);
  position: absolute;
  right: 2%;
  top: 3px;
  font-size: .7rem;
  cursor: pointer;
  padding: 3px;
  box-sizing: content-box;
  background: #ffffff;
  width: 13px;
  height: 13px;
  box-shadow: 0 0 8px rgb(0 0 0 / 12%);
  border-radius: 100%;
  text-align: center;
  line-height: 14px;
}

.DropdownMenu .DropdownMenu__table {
  position: absolute;
  right: 0;
  left: auto;
  z-index: 100;
  min-width: 160px;
  background-color: var(--dropdown-table-bg);
  top: calc(100% + 2px);
  border: 1px solid rgba(0,0,0,.15);
}

.DropdownMenu__table li,
.DropdownMenu__table li .DropdownMenu__link {
  color: var(--second-color);
}

.DropdownMenu__table .DropdownMenu__title {
  padding: 7px 10px;
  font-size: .8rem;
  border-bottom: 1px solid #f4f4f4;
}

.DropdownMenu__table .DropdownMenu__title a {
  color: #636161;
}

.DropdownMenu__table .DropdownMenu__footer .DropdownMenu__link {
  display: block;
  text-align: center;
  font-size: .8rem;
  padding: 7px 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.el-form-item__error {
  position: relative!important;
  font-size: 11px;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-center {
  width: 100%;
  height: 100%;
  text-align: center;
}
.u-avatar__photo {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  position: relative;
  border-radius: 50%;
  flex: none;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.subtitle {
  font-size: .9rem;
  color: #72808e;
}

.app-btn {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  height: 38px;
  padding: 0 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.btn-hover:hover {
  background-color: #eeeff2;
  border-color: #eeeff2;
}

.message-view__blur__overlay {
  content: "";
  background: hsla(0,2%,90%,.43);
  z-index: -1;
}