:root {
  --border-color: #e9e9e9;
  --height-msg: calc(100vh - 150px);

  --width-sidebarNav: 365px;
  --width-NavTabsSelection: 65px;
  --width-NavMainMenu: 300px;

  --height-sidebar-header: 110px;
  --height-sidebar-scroll: 425px;

  --height-header-ChatOnboard: 65px;
  --height-msg-view: 440px;
  --height-msg-toolbar: 45px;
  --height-msg-form: 49px;

  --hover-color: #ededed;
}
.PageMessage {
  background-color: rgb(255 255 255);
  box-shadow: 0 0 1px rgb(179 179 179 / 12%);
  border: 1px solid var(--border-color);
  color: #333;
  height: var(--height-msg);
  overflow: hidden;
}

.msg-divider.right {
  border-right: 1px solid var(--border-color);
}
.msg-divider.bottom {
  border-bottom: 1px solid var(--border-color);
}

.avatar-thumbnail img.avatar-photo {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}
.virtualized-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.virtualized-scroll::-webkit-scrollbar {
  width: 8px;
}
.virtualized-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 172, 0.5);
  border-radius: 10px;
}