.MultipleTabs_Content {
  color: #333;
}
.MultipleTabs_Content .tab-pane-label {
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
}
.MultipleTabs_Content .el-tabs--border-card {
  border: 1px solid #dedcdc;
  box-shadow: none;
}
.uploader_button {
  height: 31px;
  line-height: 1;
}
.FormLabel__title {
  font-size: .8rem;
  padding-right: 10px;
}
.address {
  font-size: .9rem;
  margin: 10px 0;
  line-height: 1.4;
}
.heading {
  padding: 20px 0;
}
.heading .title {
  text-align: right;
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.heading .divider {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  display: block;
  margin: 5px 0;
}
.el-form-item__content {
  line-height: 30px;
}
.el-form-item {
  margin-bottom: 0;
}
.button-submit {
  margin-top: 10px;
}