/* main */
#sidebarMsg-component {
  max-width: var(--width-sidebarNav);
  flex: 0 0 300px;

}
/* Nav Tabs Selections */
.navTabs-selection {
  width: var(--width-NavTabsSelection);
  background: var(--header-bg);
}
.navTag-wrap .author {
  height: 96px;
}
.navTabs-selection .avatar-thumbnail {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.avatar-thumbnail .img {
  line-height: 46px;
}
.navTag-wrap .tabs .tab-item {
  width: var(--width-NavTabsSelection);
  height: var(--width-NavTabsSelection);
  font-size: 1.5rem;
  color: #fff;
}
.navTag-wrap .tabs .tab-item:hover {
  background: rgba(225, 225, 225, .25);
}
.navTag-wrap .tabs .tab-item.active {
  background: #179cad;
}

/* Nav Main Menu  */
.msgSidebar-menu {
  width: var(--width-NavMainMenu);
}
.msgSidebar-header {
  padding: 10px;
}

.msgSidebar-header .sbMsg-heading {
  font-size: 1.9rem;
  font-weight: bold;
}

.msgSidebar-header .createMsgGroup-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  background: rgb(219 217 217 / 25%);
  font-size: 1.1rem;
}
.MsgContactSearch {
  padding: 5px 10px;
  margin-bottom: 20px;
}
.FormContactsControl .el-input__inner {
  border: 1px solid var(--border-color);
  color: #000;
}

.msg-filters-bar .el-select {
  width: 170px;
}
.msg-filters-bar .el-input__inner {
  height: 40px!important;
  padding: 0 10px!important;
  font-size: .9rem!important;
  font-weight: 500!important;
  color: #000!important;
  border: none!important;
}
.msg-filters-bar .el-input__suffix .el-input__icon {
  color: #000;
}
.ConversationList .msg-item {
  height: 68px;
  width: 100%;
  width: 300px;
}
.ConversationList .msg-item .conv-item:hover {
  background: #e5efff;
}
.ConversationList .conv-item {
  height: 68px;
  contain: size style;
  background: #fff;
  transition: all .2s linear;
  display: flex;
  cursor: pointer;
  padding-right: 10px;
}

.ConversationList .conv-item__avatar {
  display: flex;
  position: relative;
  align-items: center;
  margin: 10px;
}

.ConversationList .conv-item__avatar .thumbnail {
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.ConversationList .avatar-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 48px;
}
.conv-item-content .conv-item-title__name {
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: 2px;
}
.conv-item-content .conv-item-title__name.truncate {
  width: 333px;
}
.conv-item-content .conv-item-title__more {
  font-size: .7rem;
  color: #72808e;
  margin-right: 3px;
  width: 100%;
}
.conv-item-body .conv-message {
   color: #72808e;
   font-size: .8rem;
}
.conv-item-body .conv-message.truncate {
  width: 160px;
}